h3 {
    color: #0076bd
}

h2 {
    font-size: 1.7rem;
}

/*Header*/
.header {
    background-image: url(./img/plantillaCabecera.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}


@media (max-width: 801px) {
    .header {
        background-image: none;
        background-color: #0076bd;
        text-align: center;
      
        border-bottom: 0.5rem solid red;
    }

}

@media (max-width: 991px) {
    .footer {
        background-image: none;
        background-color: #0076bd;
        text-align: center;
        border-top: 0.5rem solid red;
        margin-top: 2rem;
    }
}

h3 {
    font-size: 1.5em;
}


@media (max-width: 428px) {
    .header {
        background-image: none;
        background-color: #0076bd;
        text-align: center;
        padding: 0;
    }

    .footer {
        background-image: none;
        background-color: #0076bd;
        text-align: center;
        padding: 2rem;
        border-top: 0.5rem solid red;
    }

    h3 {
        font-size: 1.5em;


    }

}

.text {
    color: #0076bd;
}

.label-form {
    font-size: 1.2rem;
}

.link-registro {
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 5rem;
}

.stateText {
    font-weight: 700;
    font-size: 1rem;
    color: #0076bd;
}

.header-datatable {
    padding: 0.8rem;
    color: #0076bd;
    font-weight: 650;
    font-size: 1.2rem;
}